<div class="menu"><a href="/signup">SIGNUP</a></div>
<div class="menu"><a href="/login">WEB-LOGIN</a></div>

<div id="fb-root"></div>

<div class="fb">
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
    <!--
        <div id="fbbutton" class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
    -->
</div>